body {
    background-color: #ffeeba;
}
.pizzaListing {
    padding: 0;
    list-style-type: none;
}   
.pizzaListing li {
    margin-bottom: 20px;
    
}
.pizzaListing .text-center {
    background-color: #e61a39;
    color: #fff;
    padding: 30px 0;
}
.pizzaListing .img-responsive {
    margin: 0 auto;
}
.pizzaListing p {
    width: 320px;
    margin: 0 auto;
}
.redBtn {
    margin: 10px auto;
    padding: 10px 35px;
    margin-top: 20px;
    text-transform: uppercase;
    background: #fff;
    color: #e61a39;
    border: 1px solid #fff;
    font-weight: 700;
    font-size: 16px;
}
.redBtn:hover {
    background: #e61a39;
    color: #fff;
    border: 1px solid #fff;
}
.userCart {
    position: fixed;
    right: 0;
    top: 0;
    width: 500px;
    background-color: #095c91;; 
}
.userCart .list-group {
    margin-bottom: 0;
}
.userCart h3 {
    margin: 0;
}
.userCart .list-group-item h3 {
    min-width: 300px;
}
.userCart .list-group-item span {
    margin: 10px 10px 0;
}
.totalPriceWrap {
    padding: 20px;
    color: #fff;
}
.totalPriceWrap span {
    font-weight: bold;
    margin-top: 12px;
}
.totalPriceWrap .redBtn {
    margin: 0;
}
.successPopupWrap{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 999;
}
.successPopupWrap .content {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 300;
	display: block;
	color: white;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

