.pizzaListing {
    padding: 0;
    list-style-type: none;
}   
.pizzaListing .text-center {
    background-color: #ffffff;
    color: #000;
}
.pizzaListing .img-responsive {
    margin: 0 auto;
}
.pizzaListing p {
    width: 200px;
    margin: 0 auto;
}